h3{
    font-size: 25px !important;
}

.btn-primary:hover{
    background-color: rgb(174, 139, 221);
}

canvas{
animation-name: shadow;
animation-duration: 4s;
animation-iteration-count: infinite;
}

@keyframes shadow{
    from{box-shadow: 1px 1px 40px violet;}
    to{box-shadow: 1px 1px 40px purple;}
}